# Logs
logs
*.log
npm-debug.log*


node_modules
build
dist
dist-ssr
*.local
.env

server/Authentification/id_rsa_priv.pem
server/Authentification/Not_used
server/routes/Not_used

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
